In [1]:
import pandas as pd

In [2]:
import os,sys

In [3]:
os.getcwd()

'd:\\Bala\\Adult_Census_Income_Prediction\\notebook'

In [4]:
df=pd.read_csv(r"D:\Bala\Adult_Census_Income_Prediction\income\artifact\data_ingestion\2024-04-21-13-21-09\raw_data\adult.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.columns.values

array(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country',
       'salary'], dtype=object)

In [6]:
schema_file = r"D:\Bala\Adult_Census_Income_Prediction\config\schema.yaml"

In [7]:
import yaml

In [8]:
def read_yaml_file(file_path:str) -> dict:
    """
    Reads a Yaml file and returns the contents as a dictionary.
    file_path:str
    """
    with open(file_path,"rb") as yaml_file:
        return yaml.safe_load(yaml_file)

In [9]:
schema = read_yaml_file(schema_file)

In [10]:
type(schema)

dict

In [11]:
schema['columns'].keys()

dict_keys(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'])

In [12]:
df['bala']="s"

# To verify the count of columns

In [13]:
len(schema['columns'])

15

In [14]:
len(df.columns)

16

In [15]:
if len(schema['columns']) != len(df.columns):
    print("error")

error

# To check the columns in schema are availble in the dataset

In [16]:
for i in schema['columns'].keys():
    if i not in df.columns:
        print(i)

#To check the data type of the columns

In [17]:
for i in schema['columns'].keys():

    if schema['columns'][i] != df[i].dtype:
        print(i)

In [18]:
schema['columns']['age']

'int64'

#Verify the categorical columns values

In [19]:
schema['domain_value'].keys()

dict_keys(['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'country', 'salary'])

In [20]:
for i in schema['domain_value'].keys():
    unique_values=[j.strip() for j in df[i].unique()]
    for k in unique_values:
        if k not in schema['domain_value'][i]:
            print(k)
    print("-------------------------")

?
-------------------------
-------------------------
-------------------------
?
-------------------------
-------------------------
-------------------------
-------------------------
?
-------------------------
-------------------------

In [21]:
unique_values

['<=50K', '>50K']

In [22]:
from income.entity.config_entity import DataValidationConfig

ModuleNotFoundError: No module named 'income.entity'